# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build folders
dist/
build/
.next/
out/
.vercel


# IDE files
.vscode/
.idea/
*.swp

# Dependency directories
jspm_packages/

# Optional npm cache
.npm

# Coverage directory
coverage/

# Temporary files
*.tmp
*.temp
